.simpleTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.simpleTable th, .simpleTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}