body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 500px;
    margin-top: 20px;
}

td, th {
    border: 2px solid black;
    padding: 8px 12px;
}

tr:first-child {
    background-color: #e6e6e6;
}

td:last-child {
    text-align: center;
}